.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  color: white;
}

/* ----------ALL LISTS---------- */

.createCatForm {
  background-color: #3f2;
  padding: 10px;
}

.allCategories {
  background-color: #f12;
  padding: 15px;
}

/* ----------INDIVID CATEGORY---------- */

.categorySection{
  background-color: #10d;
  padding: 15px;
  border: 5px dashed #345;
}

.ulCatComp {
  background-color: #87a;
  padding: 10px;
}

.addItemForm {
  background-color: #91d;
  padding: 15px;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3ed;
  float: right;
}

/* ----------INDIVID ITEMS---------- */

.liItem {
  background-color: #10d;
  padding: 15px;
}

.catTitle {
  display: inline-block;
}

.completedItem {
  text-decoration: line-through;
}
